<div class="row" id="availableTimesAndDates">
        <div class="col text-secondary text-center">
            <hr>
            <h1 style="font-family: Candara">You're all set!</h1>
            <h5>Your appointment is now confirmed and has a reference of {{this.id}}</h5>
            <a type="submit" class="btn btn-primary" id="goBackToIndex" href="javascript:history.back()">New appointment</a>
            <hr>
        </div>
</div>

