<div class="doctorList">
        <div class="row mt-3">
            {{#each doctors}}
            <div class="col mb-4 sm-3">
                <div class="row">
                    <div class="card mb-4" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4 sm-3">
                                {{#if this.photoLink}}
                                <img src={{this.photoLink}} class="card-img" alt="..." style="height:100%">
                                {{else}}
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpimsX9cFYACIZXXmGAM9WMylG9K6bkXsWE9GXuiR-Ms3ClQ4f" class="card-img" alt="..." style="height:100%">
                                {{/if}}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                    <h5 class="card-title">{{this.doctor_name}}</h5>
                                    </div>
                                    <div class="row">
                                    <p class="card-text">Specialty: {{this.specialization_name}}</p>
                                    </div>
                                    <div class="row">
                                        Jero
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            {{/each}}
        </div>
</div>
