<div class="doctorList">
        <div class="row mt-3">
            {{#each doctors}}
            <div class="col mb-4 sm-3">
                <div class="card mb-4" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4 sm-3">
                            <img src={{this.photoLink}} class="card-img" alt="..." style="height:100%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}} + {{this.lastName}}</h5>
                                <p class="card-text">Specialty: {{this.specialty}}</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            {{/each}}
        </div>
</div>
